APP_PORT=3000
DATABASE_PATH=./data/undangan.sqlite

GROOM_NAME=Budi Setiawan
GROOM_SHORT_NAME=Budi
GROOM_INSTAGRAM_HANDLE=@budisetiawan.gg
GROOM_INSTAGRAM_URL=https://instagram.com/budisetiawan.gg
BRIDE_NAME=Widia Hasmiati
BRIDE_SHORT_NAME=Widia
BRIDE_INSTAGRAM_HANDLE=@widia_hsm
BRIDE_INSTAGRAM_URL=https://instagram.com/widia_hsm

COUNTDOWN_TARGET=2026-12-31T09:00:00+07:00

AKAD_DATE=2026-12-31
AKAD_TIME=Pukul 09:00 WIB - Selesai
AKAD_VENUE=Masjid Raya Verona
AKAD_ADDRESS=Jl. Cinta Damai No. 1, Kota Verona
AKAD_MAP_URL=https://maps.google.com/

RECEPTION_DATE=2026-12-31
RECEPTION_TIME=Pukul 11:00 WIB - 14:00 WIB
RECEPTION_VENUE=Gedung Verona Center
RECEPTION_ADDRESS=Jl. Cinta Damai No. 10, Kota Verona
RECEPTION_MAP_URL=https://maps.google.com/

BANK_1_NAME=BCA
BANK_1_ACCOUNT_NUMBER=1234567890
BANK_1_ACCOUNT_HOLDER=Budi Setiawan
BANK_2_NAME=BRI
BANK_2_ACCOUNT_NUMBER=0987654321
BANK_2_ACCOUNT_HOLDER=Widia Hasmiati
